<div class = "panel panel-primary" >
  <div class = "panel-heading">
     {{pageTitle}}
  </div>
  <div class= "container-fluid" *ngFor = 'let product of filteredProducts'>
    <div class= "row-fluid ">
      <div class = "col-sm-9">
        <div>
          <ul *ngIf = 'id == product.productId' >
              <li>{{'ProductId' + ': ' + product.productId}}</li>
              <li>{{'ProductName' + ': ' + product.productName}}</li>
              <li>{{'ProductCode' + ': ' + product.productCode}}</li>
              <li>{{'Release Date' + ': ' + product.releaseDate}}</li>
              <li>{{'Description' + ': ' + product.description}}</li>
              <li>{{'price' + ': ' + product.price}}</li>
              <li>{{'starRating' + ': ' + product.starRating}}</li>
              <li><img [src]= 'product.imageUrl'></li>
            </ul>
          </div>
      </div>  
    </div>
  </div>
  <div class = "panel-footer">
    <a class = 'btn btn-default' (click)= 'onBack()' style = 'width:80px'>
      <i class = 'glyphicon glyphicon-chevron-left'></i> Back
    </a>
  </div>
</div>